@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';


$ww_char-brown: #40221D;

body {
  background: black;
}

header {
  background: white;
}

main {
  background: gray;
}

.nav {
  font-size: larger;
}

.specials {
  text-align: center;
  padding-top: 1em;
  padding-bottom: 2em;
}

h3,
h5 {
  color: white;
}

p {
  color: $ww_char-brown;
  font-size: 130%;
}

.carousel-inner img {
  margin: auto;
}

footer {
  background: white;

  ul {
    li {
      a {
        color: $footerNav;
      }
    }
  }
}
