@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

$background: #F1E4D6;
$mustard: #FFDB58;
$darkred: #931009;
$brownorange: #C48D54;
$green: #5D814C;

body {
  background: $background;
}

header {
  background: white;
}

main {
  background: $brownorange;
}

.nav {
  font-size: larger;
  background: $darkred;

  .nav-item {
    .nav-link:hover {
      color: $mustard;
    }
  }
}

h3,
h5 {
  color: white;
}

p {
  color: white;
  font-size: larger;
}

.carousel-inner img {
  margin: auto;
}

.progress-bar {
  background: $darkred;
}

footer {
  background: $darkred;
  color: white;

  ul {
    background: $darkred;

    li {
      a:hover {
        color: $mustard;
      }
    }
  }
}
