@import 'variables';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';

body {
  background: black;
}

header {
  background: white;
}

main {
  background: gray;
}

.nav {
  font-size: larger;
}

h3,
h5 {
  color: white;
}

p {
  color: white;
  font-size: larger;
}


.carousel-inner img {
  margin: auto;
}

footer {
  background: white;

  ul {
    li {
      a {
        color: $footerNav;
      }
    }
  }
}
/*-----------------------Menu Page-------------------------------------------*/

.productList {
                width: 700px;
                margin-left: auto;
                margin-right: auto;
                font-size: 20px;
                padding: 5%;
}
/*-------------use nesting of the class .product to call other classes within------------*/
.product {


   .price {
                    float: right;
    } }
h2 {
  color: $ww_green;
}
h3 {
  padding-top:2%;
  color:$ww_red;

}
span {
  color:$ww_orange;
}
.dropdown-item{
  color:$ww_orange;
  font-weight: bold;
  border-bottom: 1px dashed rgb(95, 117, 117);
}
.dropdown-item:hover{
  background-color: $ww_mustard;
}

/*----------------- Media Querey for phone size screen ----------------- */

@media screen and (max-width: 479px) {
  .dropdown-item {
                   width: 40%;
               }
.sodaList{
  font-size:12px;
}
}
